# files
*.pyc
*~
.DS_Store
.Rproj.user
.Rhistory
.RData
.*history
.ipynb_checkpoints
.sass-cache
Gemfile.lock
files/*.gtf
files/*.fb
files/*.fastq
files/*.tsv

# folders
.bundle/
.vendor/
.docker-vendor/
.jekyll-cache/
__pycache__
_site
scratch/

