James Allen <jamesallen0108@gmail.com>
Pete Bachant <petebachant@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
David Beitey <david@davidjb.com>
Trevor Bekolay <tbekolay@gmail.com>
John Blischak <jdblischak@gmail.com>
Andy Boughton <abought@gmail.com>
Andy Boughton <pchemist@gmail.com>
Amy Brown <amyrhoda@gmail.com>
Amy Brown <arbrown@latte.ca>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@oicr.on.ca>
Jonah Duckles <jonah@duckles.org>
Rémi Emonet <remi@heeere.com>
Rémi Emonet <remi.emonet@univ-st-etienne.fr>
Ivan Gonzalez <iglpdc@gmail.com>
Michael Hansen <hansen.mike@gmail.com>
Mike Jackson <michaelj@epcc.ed.ac.uk>
W. Trevor King <wking@tremily.us>
Christina Koch <christinakconnect@gmail.com>
Alexander Konovalov <alexander.konovalov@st-andrews.ac.uk>
Francois Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Aaron O'Leary <aaron.oleary@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Florian Rathgeber <florian.rathgeber@gmail.com>
Ariel Rokem <arokem@gmail.com>
Raniere Silva <ra092767@ime.unicamp.br>
Raniere Silva <raniere@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com>
Ashwin Srinath <atrikut@clemson.edu>
Carol Willing <carolcode@willingconsulting.com>
Greg Wilson <gvwilson@software-carpentry.org>
Greg Wilson <gvwilson@third-bit.com>
Naupaka Zimmerman <naupaka@gmail.com>
Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Bianca Peterson <bianca.peterson777@gmail.com>
C. Titus Brown <titus@idyll.org>
Donny Winston <dwinston@alum.mit.edu>
Evan P. Williamson <evanpeterw@gmail.com>
Gabriel A. Devenyi <gdevenyi@gmail.com>
Gerard Capes <gerard.capes@manchester.ac.uk>
Ian Carroll <icarroll@sesync.org
Kate Hertweck <k8hertweck@gmail.com>
Kate Hertweck <k8hertweck@gmail.com>
Maxim Belkin <maxim-belkin@users.noreply.github.com>
Thomas Guignard <tom@timtom.ch>
Tracy Teal <tkteal@gmail.com>
Valentina Staneva <valentina-s@users.noreply.github.com>
