James Allen <jamesallen0108@gmail.com>
Pete Bachant <petebachant@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
David Beitey <david@davidjb.com>
Trevor Bekolay <tbekolay@gmail.com>
John Blischak <jdblischak@gmail.com>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Amy Brown <amyrhoda@gmail.com> <arbrown@latte.ca>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Jonah Duckles <jonah@duckles.org>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
Ivan Gonzalez <iglpdc@gmail.com>
Michael Hansen <hansen.mike@gmail.com>
Mike Jackson <michaelj@epcc.ed.ac.uk>
W. Trevor King <wking@tremily.us>
Christina Koch <christinakconnect@gmail.com>
Alexander Konovalov <alexander.konovalov@st-andrews.ac.uk>
Francois Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Aaron O'Leary <aaron.oleary@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Florian Rathgeber <florian.rathgeber@gmail.com>
Ariel Rokem <arokem@gmail.com>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Ashwin Srinath <atrikut@clemson.edu>
Carol Willing <carolcode@willingconsulting.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Naupaka Zimmerman <naupaka@gmail.com>
