<p><img alt="" src="{{ page.root }}/fig/using-github-import.png" /></p>
<hr/>
<p><img alt="Forking Repositories" src="{{ page.root }}/fig/forking.svg" /></p>
<hr/>
<p><img alt="Repository Links" src="{{ page.root }}/fig/repository-links.svg" /></p>
<hr/>
<p><img alt="Source and Destination Files" src="{{ page.root }}/fig/file-mapping.svg" /></p>
<hr/>
<p><img alt="Formatting Rules" src="{{ page.root }}/fig/episode-format-small.png" /></p>
<hr/>
<p><img alt="" src="{{ page.root }}/fig/episode-format.png" /></p>
<hr/>
<p><img alt="plot of chunk plot-example" src="{{ page.root }}/fig/rmd-plot-example-1.png" /></p>
