<p><img alt="" src="../fig/filesystem-challenge.png" /></p>
<hr/>
<p><img alt="" src="../fig/filesystem-challenge.svg" /></p>
<hr/>
<p><img alt="" src="../fig/filesystem.png" /></p>
<hr/>
<p><img alt="" src="../fig/filesystem.svg" /></p>
<hr/>
<p><img alt="" src="../fig/find-file-tree.png" /></p>
<hr/>
<p><img alt="" src="../fig/find-file-tree.svg" /></p>
<hr/>
<p><img alt="" src="../fig/home-directories.png" /></p>
<hr/>
<p><img alt="" src="../fig/home-directories.svg" /></p>
<hr/>
<p><img alt="" src="../fig/homedir.svg" /></p>
<hr/>
<p><img alt="" src="../fig/linux-cloud.jpg" /></p>
<hr/>
<p><img alt="" src="../fig/nano-screenshot.png" /></p>
<hr/>
<p><img alt="" src="../fig/redirects-and-pipes.png" /></p>
<hr/>
<p><img alt="" src="../fig/redirects-and-pipes.svg" /></p>
<hr/>
<p><img alt="" src="../fig/responsibility-bandwidth.svg" /></p>
