<p><img alt="" src="{{ site.github.url }}/fig/using-github-import.png" /></p>
<hr/>
<p><img alt="Forking Repositories" src="../fig/forking.svg" /></p>
<hr/>
<p><img alt="Repository Links" src="../fig/repository-links.svg" /></p>
<hr/>
<p><img alt="Source and Destination Files" src="../fig/file-mapping.svg" /></p>
<hr/>
<p><img alt="Formatting Rules" src="../fig/episode-format-small.png" /></p>
<hr/>
<p><img alt="" src="../fig/episode-format.png" /></p>
<hr/>
<p><img alt="plot of chunk plot-example" src="../fig/rmd-plot-example-1.png" /></p>
